*{ /*dfd*/
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none; 
    text-decoration: none;  
    border-collapse: collapse;  
    margin: 0px;
    padding: 0px;
    color:#000;
}

h1 {
    font-size : 48px;
    font-weight:100;
}
.contents1{
    font-size:20px;
    font-weight:lighter;
}
.contents1_bold{
    font-size:18px;
    font-weight : bold;
}
.contents2{
    font-size:18px;
}
.contents3{
    font-size: 14px;
    font-weight:100;
}
/*-----*/
.result{
    font-size:24px;
    font-weight : bold;
}
.intro_bg{
    /*배경설정*/
    background-image:url("image/contact.png");
    width:100%;
    height: 718px;
}

.header{
    display:flex; /*컨테이너 속성? 약간 이런 느낌*/
    width:1280px;
    margin:auto;  /*중앙정렬하라 라는 뜻*/
    height : 86px;
}
.searchArea{
    width:300px;
    height:40px;
    background: rgba:(0,0,0,0.5);
    border-radius: 5px;
    margin-top: 24px;
}
.searchArea > form > input{
    border:none;
    width:250px;
    height:40px;
    background:rgba(0,0,0,0.0);
    color:#fff;
    padding-left:10px;
}
.searchArea > form > span{
    width:50px;
    color:#fff;
    font-weight: bold;
    cursor:pointer;
}
.nav{
    display:flex;
    justify-content: flex-end;
    line-height:86px;
    width:calc(1280px - 300px);
    color:#fff;
}

.nav > li{
    margin-left:84px;
}
.nav > li > a{
    color:white;
}
.intro_text{
    width:100%;
    margin: 231px auto 231px auto; /*상 우 하 좌 순서로 margin 삽입*/
    text-align: center;
}
.intro_text > h1,
.intro_text > h4{
    color: #fff;
}
.amount > li > div{
    text-align: center;
    margin-top:36px;
    height:57px;

}
.amount>li:not(:last-child)>div{
    border-right:1px solid #e1e1e1;
}
.amount>li{
    flex:1;
    height:132px;
}
.amount{
    /*realative는 사용시 다른 태그요소에 영향을 끼치지 않고 자신의 영역
    그대로 유지합니다! 그냥 위치는 그대로인데 66px만큼 올라간것 처럼 보인다는 뜻임. 눈속임이라고 해야될까? magic~ 같죠?*/

    position:relative; /*현제위치의 포지션에서*/
    top:-66px; /*위에서 66만큼 감소하겠다*/
    display : flex;
    width:1280px;
    background: white;
    box-shadow:0px 0 10px rgba(0,0,0,0.1); /*그림자이다. 좌, 하단, 흐려지는 역할*/
    margin:auto;
    
}

.main_text0{
    width:100;
    height:601px;
    margin-top: -132px;
    background:#f1f2f3;
}

.main_text0 > h1{
    padding-top: 116px;
    text-align: center;
    background: #f1f2f3;
}
.main_text0>.contents1{ /*위에 있는 contents1을 불러다가 text-aling만 추가해준거다*/
text-align: center;
}
.icons{
    display:flex;
    width: 1280px;
    height:302px;
    background:#f1f2f3;
    margin:auto;
}

.icons>li{
    flex:1;
    background:white;
    margin-top: 49px;
    height:302px;
    text-align: center;
}
.icons>li>.icon_img{
    margin-top: 18px;
}

.icons>li:not(:last-child){
    margin-right:20px;
}

.icons .contents2{
    width: 280px;
    margin:auto;
    letter-spacing: -1px;
}
.more{
    width:100px;
    height:30px;
    background:#2f7af4;
    color:#fff;
    font-size:12px;
    line-height:30px;
    margin:25px auto;
}

/*main_text1*/
.main_text1{
    width:100%;
}
.main_text1>h1{
    padding-top:50px;
    text-align: center;
}
.main_text1>.contents1{
    text-align: center;
}

.service{
    width: 1280px;
    height:427px;
    display:flex;
    margin:49px auto;
}

.service > .contents2{
    padding:20px;
}

.service>.contents2>h2{
    margin-bottom: 27px;
}


/*main_text02*/

.main_text2{
    width:100%;
    height:418px;
    background-image: url("image/intro.png");
}

.main_text2>ul{
    display:flex;
    padding-top:138px;
}

.main_text2>ul>li{
    flex:1;
    text-align: center;
}
.main_text2>ul>li>div>h1,
.main_text2>ul>li>div{
    color:#fff
}
.more2{
    width:220px;
    height:40px;
    text-align: center;
    border:1px solid #fff;
    line-height :40px;
    cursor:pointer;
    margin: 16px  auto;
}

footer{
    display: flex;
    background: #1f1f1f;
}

footer>div:first-child{
    flex:3;
    text-align: center;
    color:#fff;
    padding-top: 30px;
}

footer>div:last-child{
    flex:9;
    color:#fff;
}